  #body {
	background-color: #f3f3f0;
}
/*#h1 {
	background-color: #f3f3f0;
	width: 60%;
	border-width: 0,5em;
	border-style: solid;
	border-color: black;
	margin-left: 20%;
	text-align: center;
}
#Buttons {
	margin-left: 20%;
}
#ButtonList {
	display: inline-block;
}
#button1 {
	background-color: #f3f3f0;
	width: 10em;
	height: 5em;
	border-width: 0,5em;
	border-style: solid;
	border-color: black;
	margin-left: 20%;
	text-align: center;
}

#button1:hover {
	background-color: #3e8e41;
}
#button1:active {
  background-color: #3e8e41;
}
#p1 {
	background-color: #f3f3f0;
	text-align: justified;
	border-style: solid;
	border-width: 2%;
	border-color: #aaaaff;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1em;
}*/
/* Vanaf hier ben ik verder gegaan */

#headerText {
	font-family: Verdana;
	text-align: center;
	color: white;
	font-size: 3em;
	font-weight: bolder;
	/*margin: 1em;
	margin-bottom: .5em;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("schepijs.jpg");
	overflow: hidden;
	height: 3em;
	padding-top: 1.5em;
	text-shadow: 3px 3px gray;
}

#menuBalk {
	background-color: rgb(50, 146, 50);
	height: 3em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menuButton {
	background-color: rgb(115, 209, 112);
	width: 10em;
	height: 3em;
	border-width: 0px;
	font-family: 'Century Gothic';
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 1em;
	border-color: white;
	border-style: solid;
}

.menuButton:hover {
	background-color: rgb(94, 150, 92);
	width: 11em;
	height: 4em;
	border-bottom-width: 0.2em;
	border-bottom-color: blue;
	cursor: pointer;
	box-shadow: 0px 10px 5px 0px rgba(159, 159, 159, 0.69);
}

.login {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 50%;
	border-style: solid;
	border-radius: 2em;
	margin-right: 54.5%;
	margin-left: 45.5%;
}

#loginBckgrnd {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("schepijs.jpg");
	overflow: hidden;
}

#loginImg {
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	height: 10em;
	display: block;
	margin-top: 10%;
	cursor: pointer;
}

.inputField {
	background-color: rgba(255, 255, 255, .7);
	text-align: center;
	border-style: solid;
	border-width: 0.1em;
	height: 2.5em;
	width: 18em;
	cursor: pointer;
	font-family: Arial;
	font-weight: bold;
	border-top-right-radius: .3em;
	border-bottom-right-radius: .3em;
	border-color: rgb(82, 82, 82);
	color: rgb(119, 170, 119);
}

.inputField:hover{
	height: 3em;
	width: 20em;
}

#loginBtn {
	border-style: solid;
	border-color: rgb(82, 82, 82);
	background-color: rgb(42, 175, 42);
	font-family: Arial;
	font-weight: bold;
	height: 4em;
	width: 8em;
	cursor: pointer;
	color: white;
	border-top-right-radius: .3em;
	border-bottom-right-radius: .3em;
}

#loginBtn:hover {
	height: 4.5em;
	width: 9em;
}

